<a href="https://colab.research.google.com/github/Swarnlataaa/Pandas_repo/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# Load data from a CSV file into a DataFrame
data = pd.read_csv('data.csv')

# Display the first few rows of the DataFrame
print(data.head())

# Calculate some summary statistics
mean_age = data['Age'].mean()
max_salary = data['Salary'].max()

# Filter data based on a condition
high_earners = data[data['Salary'] > 50000]

# Save the filtered data to a new CSV file
high_earners.to_csv('high_earners.csv', index=False)

### Importing pandas

In [ ]:
import pandas as pd

### Creating a dataframe

In [ ]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
}
df = pd.DataFrame(data)

### Viewing data

In [ ]:
print(df.head())

### Accessing columns

In [ ]:
names = df['Name']
ages = df.Age  # Using dot notation

### Basic stats

In [ ]:
mean_age = df['Age'].mean()
max_age = df['Age'].max()

### Filtering data

In [ ]:
young_people = df[df['Age'] < 30]

### Sorting data

In [ ]:
df.sort_values(by='Age', ascending=False, inplace=True)

### Adding new column

In [ ]:
df['Salary'] = [60000, 75000, 80000]

### Grouping data

In [ ]:
grouped = df.groupby('City')['Salary'].mean()

### Handling missing data

In [ ]:
df.dropna()  # Remove rows with missing values
df.fillna(0)  # Fill missing values with 0

### Merging data frames

In [ ]:
merged_df = pd.merge(df1, df2, on='key_column', how='inner')

### Reading and writing data

In [ ]:
df = pd.read_csv('data.csv')
df.to_excel('data.xlsx', index=False)

### Plotting data

In [ ]:
import matplotlib.pyplot as plt
df.plot(x='Age', y='Salary', kind='scatter')
plt.show()

### Renaming columns

In [ ]:
df.rename(columns={'Name': 'Full Name', 'Age': 'Years Old'}, inplace=True)

### Aggreating data

In [ ]:
total_salary = df['Salary'].sum()
average_age = df['Years Old'].mean()

### Dropping columns

In [ ]:
df.drop(columns=['City'], inplace=True)

### Iterating over rows

In [ ]:
for index, row in df.iterrows():
    print(row['Full Name'], row['Years Old'])

### Pivoting data

In [ ]:
pivoted = df.pivot(index='Full Name', columns='Years Old', values='Salary')

### String operations

In [ ]:
df['Full Name'] = df['Full Name'].str.upper()

### Date and time handling

In [ ]:
df['Birthdate'] = pd.to_datetime(df['Birthdate'])
df['Age'] = (pd.to_datetime('now') - df['Birthdate']).astype('<m8[Y]')

### Duplicating and dropping duplicates

In [ ]:
df_duplicate = df[df.duplicated()]
df_no_duplicates = df.drop_duplicates()

### Cross tabulation

In [ ]:
cross_tab = pd.crosstab(df['City'], df['Gender'])

### Reshaping data

In [ ]:
melted_df = pd.melt(df, id_vars=['Full Name'], value_vars=['Salary', 'Years Old'], var_name='Attribute', value_name='Value')

### Apply custom functions

In [ ]:
def double_salary(salary):
    return salary * 2

df['Doubled Salary'] = df['Salary'].apply(double_salary)

### using pd.series and pd.dataframes

In [ ]:
series_data = pd.Series([1, 2, 3, 4])
df_data = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})

### Handling missing values with pandas

In [ ]:
import pandas as pd

# Create a sample DataFrame with missing values
data = {
    'A': [1, 2, None, 4, 5],
    'B': [None, 2, 3, None, 5]
}
df = pd.DataFrame(data)

# Check for missing values
print(df.isna())

# Fill missing values with a specific value
df.fillna(0, inplace=True)

# Drop rows with missing values
df.dropna(inplace=True)

### Using scikit-learn for imputation

In [ ]:
from sklearn.impute import SimpleImputer

# Create a SimpleImputer with a specific strategy (e.g., mean)
imputer = SimpleImputer(strategy='mean')

### Imputing missing values

In [ ]:
# Select columns with missing values for imputation
numeric_columns = df.select_dtypes(include='number')

# Fit and transform the imputer on the numeric columns
imputed_data = imputer.fit_transform(numeric_columns)

# Create a new DataFrame with the imputed values
imputed_df = pd.DataFrame(imputed_data, columns=numeric_columns.columns)